*{padding: 0; margin: 0; border: 0;}
*,*::before,*::after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{ height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px;
-ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}


body {
    background-color: #05cba7;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48}

.card_container {
    width: 435px;
    height: 600px;
    background-color: white;
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;}

.header_container { 
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    margin-bottom: 0;}
.header_item {
    flex-basis: 33%;
    align-self: center;}
.header_first_item {
    display: flex; 
    justify-content: flex-end;}
.check_circle {
    color:white; 
    background-color: #61b2ea;
    padding: 7px;
    border-radius: 50%;
    overflow: hidden;}
.header_second_item {
    font-size: 12px;}
.near_me {
    border-radius: 50%;
    border: 1px solid black;}

.info_container { margin: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;}
.image_container {width: 220px; height: 220px; 
    border-radius: 50%; overflow: hidden; border: 10px solid white;
    box-shadow: 0 2px 3px rgb(197, 195, 195);
    margin-top: 10px;}
 img {
     height: 220px;}
.info_name {
    font-size: 26px;
    margin-bottom: -35px;}
.info_text { 
    font-size: 12px; 
    text-align: center; 
    font-weight: 600; 
    line-height: 1.4;}
.button {
    background-color: #66b4ff;
    padding: 15px 35px;
    border-radius: 7px;
    font-size: 14px;
    color: white;
    box-shadow: 0 2px 3px #496e8f;
    margin: 0 auto;
    margin-bottom: 20px;}

.footer_container {
    background-color: #1e344b;
    border-radius:  0 0 15px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    height: 90px;}
 .footer_item_container {
     display: flex;
     text-align: center;}
.footer_icon {
    color: #c08490;
    margin-right: 10px;
    align-self: center;}
 .footer_info {
    color: #c08490;
    margin-bottom: 3px;}
.footer_amount {
    color: white;}


  